footer.footer
    .container
        ul.footer-list
            a.list-item(href="#") Правила использования
            a.list-item(href="#") Политика конфиденциальности
            a.list-item(href="#") Публичная оферта
        ul.footer-list2
            a.list-item2(href="#") support@spytt.co
            li.list-item2
                img.svg(src="./src/images/icons/tg.png")
                a.list-item2(href="#") Telegram канал
        .footer-partners
            img.svg(src="./src/images/icons/visa.png")

