

@font-face {
  font-family: "GraphikLCWeb Rg";
  font-weight: 400;
  src: url("../fonts/Graphik/Graphik-Regular-Web.woff") format("woff");
}

@font-face {
  font-family: "GraphikLCWeb Md";
  font-weight: 500;
  src: url("../fonts/Graphik/Graphik-Medium-Web.woff") format("woff");
}

@font-face {
  font-family: "GraphikLCWeb Bold";
  font-weight: 600;
  src: url("../fonts/Graphik/Graphik-Bold-Web.woff") format("woff");
}